<div class="article-title">
<% if (post.link){ %>
  <h1 itemprop="name">
    <a class="<%= class_name %>" href="<%- url_for(post.link) %>" target="_blank" itemprop="url"><%= post.title %></a>
  </h1>
<% } else if (post.title){ %>
  <% if (index){ %>
    <h1 itemprop="name">
      <a class="<%= class_name %>" href="<%- url_for(post.path) %>"><%= post.title %></a>
    </h1>
  <% } else { %>
    <h1 class="<%= class_name %>" itemprop="name">
      <%= post.title %>
    </h1>
  <% } %>
<% } %>
  <a href="https://github.com/baidu/san-website/tree/master/source/<%= page.source %>" class="article-edit-link" title="<%= __('article.edit') %>" target="_blank"> <img src="<%- url_for('img/pen.svg') %>" width="12" height="15" style="padding-top:2px;"> <%= __('article.edit') %></a>
</div>