<dl class="example-main">
    <dt><a href="https://github.com/baidu/san/tree/master/example/start" target="_blank"><%= __('example.start') %></a></dt>
    <dd><%= __('example.start_description') %></dd>


    <dt><a href="https://github.com/baidu/san/tree/master/example/todos-amd" target="_blank">Todos (AMD)</a></dt>
    <dd><%= __('example.todos_description') %></dd>


    <dt><a href="https://github.com/baidu/san/tree/master/example/todos-esnext" target="_blank">Todos (ESNext)</a></dt>
    <dd><%= __('example.todos_esnext_description') %></dd>


    <dt><a href="https://github.com/baidu/san-store/tree/master/example/todos" target="_blank">Todos (<%= __('example.single_way_flow') %>)</a></dt>
    <dd><%= __('example.todos_store_description') %></dd>

    <dt class="example-online-title"><%= __('example.online') %></dt>
    <dd class="example-codepen"><p data-height="265" data-theme-id="dark" data-slug-hash="rmGygP" data-default-tab="js,result" data-user="errorrik" data-embed-version="2" data-pen-title="san-bindx" class="codepen">See the Pen <a href="https://codepen.io/errorrik/pen/rmGygP/">san-bindx</a> by errorrik (<a href="http://codepen.io/errorrik">@errorrik</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script></dd>
    <dd class="example-codepen"><p data-height="265" data-theme-id="dark" data-slug-hash="aWLyZa" data-default-tab="js,result" data-user="errorrik" data-embed-version="2" data-pen-title="san-list" class="codepen">See the Pen <a href="https://codepen.io/errorrik/pen/aWLyZa/">san-list</a> by errorrik (<a href="http://codepen.io/errorrik">@errorrik</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script></dd>
    <dd class="example-codepen"><p data-height="265" data-theme-id="dark" data-slug-hash="aWLWoe" data-default-tab="js,result" data-user="errorrik" data-embed-version="2" data-pen-title="san-checkbox" class="codepen">See the Pen <a href="https://codepen.io/errorrik/pen/aWLWoe/">san-checkbox</a> by errorrik (<a href="http://codepen.io/errorrik">@errorrik</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script></dd>
    <dd class="example-codepen"><p data-height="265" data-theme-id="dark" data-slug-hash="KmXmqb" data-default-tab="js,result" data-user="errorrik" data-embed-version="2" data-pen-title="san-radio" class="codepen">See the Pen <a href="https://codepen.io/errorrik/pen/KmXmqb/">san-radio</a> by errorrik (<a href="http://codepen.io/errorrik">@errorrik</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script></dd>
    <dd class="example-codepen"><p data-height="265" data-theme-id="dark" data-slug-hash="VbMbrp" data-default-tab="js,result" data-user="errorrik" data-embed-version="2" data-pen-title="san-slot" class="codepen">See the Pen <a href="https://codepen.io/errorrik/pen/VbMbrp/">san-slot</a> by errorrik (<a href="http://codepen.io/errorrik">@errorrik</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script></dd>
</dl>