layout: false
---

<%- partial('_partial/head') %>


<body id="home">
    <div class="overlay">
        <img height="220" src="<%- url_for('img/logo-colorful.svg') %>" class="logo" alt="LOGO" title="San">
        <h1>San</h1>
        <iframe src="https://ghbtns.com/github-btn.html?user=baidu&repo=san&type=star&count=true&size=large" class="home-iframe"></iframe>
        <p class="overlay-p"><%= __('index.jumbotron.description') %></p>
        <a href="<%- url_for_lang('tutorial/start/')%>" class="get-start"><%= __('index.jumbotron.get_started') %></a>
        <a class="discussion" style="background:url(<%- url_for('img/discussion.svg') %>) no-repeat 50% 50% / contain" href="https://github.com/baidu/san/discussions" target="_blank" title="<%= __('index.headernav.discussion') %>"></a>
    </div>

    <!-- NavBar-->
    <nav class="navbar-default" role="navigation">
        <div class="navbar-container">
            <a href="#home" class="nav-logo"><img src="<%- url_for('img/logo2.png') %>"></a>
            <a class="nav-a1" href="#Features"><%= __('index.nav.features') %></a>
            <a class="nav-a2" href="#Resources"><%= __('index.nav.resources') %></a>
            <a class="nav-a3" href="#Facilities"><%= __('index.nav.facilities') %></a>
            <a class="nav-lang" href="<% if (page.lang != "default") { %><%=url_for_lang(page.path.replace(page.lang + '/', ''), 'default')%><% } else { %><%=url_for_lang(page.path, 'en')%><% } %>"><% if (page.lang != "default") { %>中文<% } else { %>EN<% } %></a>
        </div>
    </nav>

    <!-- 公众号文章 -->
    <div class="article-container" data-src="<%- url_for('data/article.json') %>">
        <a class="article-text-wrapper">
            <span class="article-text"></span>
        </a>
    </div>

    <!-- feature-->
    <div class="feature-container" id="Features">
        <section class="feature<% if (page.lang) { %> feature-en<% } %>">

        <div class="feature-row">
            <div class="feature-item">
                <img src="<%- url_for('img/8.svg') %>" width="44" height="44">
                <h5><%= __('index.feature.tpl') %></h5>
                <p><%= __('index.feature.tpl_description') %></p>
            </div>
            <div class="feature-item">
               <img src="<%- url_for('img/1.svg') %>" width="44" height="44">
                <h5><%= __('index.feature.data_driven') %></h5>
                <p><%= __('index.feature.data_driven_description') %></p>
            </div>
            <div class="feature-item">
                <img src="<%- url_for('img/2.svg') %>" width="44" height="44">
                <h5><%= __('index.feature.component') %></h5>
                <p><%= __('index.feature.component_description') %></p>
            </div>
        </div>

        <div class="feature-row">
            <div class="feature-item">
                <img src="<%- url_for('img/3.svg') %>" width="44" height="44">
                <h5><%= __('index.feature.view') %></h5>
                <p><%= __('index.feature.view_description') %></p>
            </div>
            <div class="feature-item">
                <img src="<%- url_for('img/5.svg') %>" width="44" height="44">
                <h5><%= __('index.feature.reverse') %></h5>
                <p><%= __('index.feature.reverse_description') %></p>
            </div>
            <div class="feature-item">
                <img src="<%- url_for('img/4.svg') %>" width="44" height="44">
                <h5><%= __('index.feature.size') %></h5>
                <p><%= __('index.feature.size_description') %></p>
            </div>
        </div>

        <div class="feature-row">
            <div class="feature-item">
                <img src="<%- url_for('img/9.svg') %>" width="44" height="44">
                <h5><%= __('index.feature.compatibility') %></h5>
                <p><%= __('index.feature.compatibility_description') %></p>
            </div>
            <div class="feature-item">
                <img src="<%- url_for('img/6.svg') %>" width="44" height="44">
                <h5><%= __('index.feature.module') %></h5>
                <p><%= __('index.feature.module_description') %></p>
            </div>
            <div class="feature-item">
                <img src="<%- url_for('img/7.svg') %>" width="44" height="44">
                <h5><%= __('index.feature.use') %></h5>
                <p><%= __('index.feature.use_description') %></p>
            </div>
        </div>
    </section>
    </div>

    <!--Resources -->
    <section id ="Resources" class="resource">
    <hr>
    <div class="resource-title">
    <h4><%= __('index.nav.resources') %></h4>
    <p><%= __('index.resource.description') %></p>
    </div>

    <div class="resource-row">
        <div class="resource-block">
            <a class="resource-item" href="<%- url_for_lang('tutorial/start/')%>">
                <div class="resource-item-top resource-item-top-one">
                    <div style="width:130px;height:130px;display:inline-block;" class="bodymovin" data-movpath="<%- url_for('js/tutor.json') %>"></div>
                </div>
                <div class="resource-item-bottom">
                    <h5><%= __('index.headernav.tutorial') %></h5>
                    <p><%= __('index.resource.tutorial_description') %></p>
                </div>
            </a>
        </div>

        <div class="resource-block" href="/san/layout/">
            <a class="resource-item" href="<%- url_for_lang('practice/')%>">
                <div class="resource-item-top resource-item-top-two">
                    <div style="width:130px;height:130px;display:inline-block;" class="bodymovin" data-movpath="<%- url_for('js/compass.json') %>"></div>
                </div>
                <div class="resource-item-bottom">
                    <h5><%= __('index.headernav.practice') %></h5>
                    <p><%= __('index.resource.practice_description') %></p>
                </div>
            </a>
        </div>

       <div class="resource-block">
            <a class="resource-item" href="<%- url_for_lang('example/')%>">
                <div class="resource-item-top resource-item-top-three">
                    <div style="width:130px;height:130px;display:inline-block;" class="bodymovin" data-movpath="<%- url_for('js/example.json') %>"></div>
                </div>
                <div class="resource-item-bottom">
                    <h5><%= __('index.headernav.example') %></h5>
                    <p><%= __('index.resource.example_description') %></p>
                </div>
            </a>
        </div>

        <div class="resource-block">
            <a class="resource-item" href="<%- url_for_lang('doc/api/')%>">
                <div class="resource-item-top resource-item-top-four">
                    <div style="width:130px;height:130px;display:inline-block;" class="bodymovin" data-movpath="<%- url_for('js/api.json') %>"></div>
                </div>
                <div class="resource-item-bottom">
                    <h5><%= __('index.resource.api') %></h5>
                    <p><%= __('index.resource.api_description') %></p>
                </div>
            </a>
        </div>
        </div>
    </section>


<!-- facilities -->

<section class="facility" id="Facilities">
<hr>
<div class="facility-title">
    <h4><%= __('index.nav.facilities') %></h4>
    <p><%= __('index.facility.description') %></p>
    </div>


    <div class="banner-md"><a href="https://ecomfe.github.io/santd/" target="_blank"><img
                src="<%- url_for('img/banner-santd.png') %>" alt="santd" style="width: 100%; max-width: 1160px"></a></div>
    <div class="facility-row">

        <div class="facility-block">
            <div class="facility-item">
                <div class="facility-item-top facility-item-top-one">
                    <div style="width:130px;height:130px;display:inline-block;" class="bodymovin" data-movpath="<%- url_for('js/test.json') %>"></div>
                </div>
                <a class="facility-item-bottom" href="https://github.com/baidu/san-router" target="_blank">
                    <h5>Router</h5>
                    <p><%= __('index.facility.router_description') %></p>
                </a>
                <a class="facility-item-bottom" href="https://baidu.github.io/san-ssr/" target="_blank">
                    <h5>SSR</h5>
                    <p><%= __('index.facility.ssr_description') %></p>
                </a>
                <a class="facility-item-bottom" href="https://github.com/baidu/san-factory" target="_blank">
                    <h5>Factory</h5>
                    <p><%= __('index.facility.factory_description') %></p>
                </a>
            </div>
        </div>

        <div class="facility-block">
            <div class="facility-item facility-item-unready">
                <div class="facility-item-top facility-item-top-two">
                    <div style="width:130px;height:130px;display:inline-block;" class="bodymovin" data-movpath="<%- url_for('js/store.json') %>"></div>
                </div>
                <a class="facility-item-bottom" href="https://github.com/baidu/san-store" target="_blank">
                    <h5>Store</h5>
                    <p><%= __('index.facility.store_description') %></p>
                </a>
                <a class="facility-item-bottom" href="https://github.com/baidu/san-update" target="_blank">
                    <h5>Update</h5>
                    <p><%= __('index.facility.update_description') %></p>
                </a>
                <a class="facility-item-bottom" href="https://github.com/baidu/san-composition" target="_blank">
                    <h5>Composition</h5>
                    <p><%= __('index.facility.composition_description') %></p>
                </a>
            </div>
        </div>

        <div class="facility-block">
            <div class="facility-item">
                <div class="facility-item-top facility-item-top-three">
                    <div style="width:130px;height:130px;display:inline-block;" class="bodymovin" data-movpath="<%- url_for('js/dev.json') %>"></div>
                </div>
                <a class="facility-item-bottom" href="https://github.com/ecomfe/san-cli" target="_blank">
                    <h5>CLI</h5>
                    <p><%= __('index.facility.cli_description') %></p>
                </a>
                <a class="facility-item-bottom" href="https://github.com/ecomfe/san-loader" target="_blank">
                    <h5>Loader</h5>
                    <p><%= __('index.facility.loader_description') %></p>
                </a>
                <a class="facility-item-bottom" href="https://github.com/baidu/san-devtools" target="_blank">
                    <h5>DevTools</h5>
                    <p><%= __('index.facility.devtool_description') %></p>
                </a>
            </div>
        </div>

        <div class="facility-block">
            <div class="facility-item">
                <div class="facility-item-top facility-item-top-four">
                    <div style="width:130px;height:130px;display:inline-block;" class="bodymovin" data-movpath="<%- url_for('js/update.json') %>"></div>
                </div>
                <a class="facility-item-bottom" href="https://github.com/ecomfe/san-test-utils" target="_blank">
                    <h5>TestUtils</h5>
                    <p><%= __('index.facility.test_utils_description') %></p>
                </a>
                <a class="facility-item-bottom" href="https://github.com/ecomfe/san-anode-utils" target="_blank">
                    <h5>ANodeUtils</h5>
                    <p><%= __('index.facility.anode_utils_description') %></p>
                </a>
                <a class="facility-item-bottom" href="https://github.com/searchfe/sanny" target="_blank">
                    <h5>Sanny</h5>
                    <p><%= __('index.facility.sanny_description') %></p>
                </a>
            </div>
        </div>
    </div>
    <div class="banner-md"><a href="https://ecomfe.github.io/san-mui/" target="_blank"><img
                src="<%- url_for('img/banner-md.png') %>" alt="san-mui" style="width: 100%; max-width: 1160px"></a></div>
</section>
<img src="<%- url_for('img/san-perf.png') %>" class="san-perf">
    <footer id="More">
      <% if (!page.path){ %>
      <div class="efe-products" id="links">
        <p><i class="fa fa-info-circle"></i> 开源的 San 来自百度 EFE。在 <a target="_blank" href="http://efe.baidu.com">EFE</a>，我们有一系列开源产品：</p>
        <script src="https://ecomfe.github.io/efe-meta/js/full-intro.js"></script>
      </div>
      <% } %>
    <div class="copyright">
        &copy; 2023 <a target="_blank" href="http://ecomfe.github.io/">Baidu EFE</a>
    </div>
    </footer>



    <!-- JavaScript -->
    <script src="<%- url_for('js/jquery-1.10.2.js') %>"></script>
    <script src="<%- url_for('js/script.js') %>"></script>
    <script src="<%- url_for('js/bodymovin.min.js') %>"></script>
    <script src="<%- url_for('js/anime.js') %>"></script>
    <!-- StikyMenu -->
    <script src="<%- url_for('js/stickUp.min.js') %>"></script>

    <script type="text/javascript">
       jQuery(function($) {
            $(document).ready( function() {
                $('.navbar-default').stickUp();
            });
        });
    </script>
</body>
</html>
