<style>
#practice-search {
    width: 600px;
    height: 30px;
    padding: .5rem;
    font-size: 1.4rem;
    display: block;
    margin: 2rem auto;
}

.practice dl {
    width: 80rem;
    margin: 2rem auto;
}

.practice dt {
    padding: 2rem 0 1rem;
    font-size: 1.8rem;
    color: #295892;
    border-bottom: 1px solid #d8d8d8;
}

.practice dd {
    font-size: 1.4rem;
    line-height: 2rem;
    color: #295892;
    border-bottom: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    background: #f6f6f6;
    padding: .2rem .5rem;
}

.practice dd:hover {
    background: #fff;
}

.practice a:link,
.practice a:visited {
    color: #5a7d96;
    text-decoration: none;
}
</style>

<main class="practice">
<input type="text" id="practice-search">
<dl id="practice-list">
    <dt><%= __('practice.data.title') %></dt>
    <dd><a href="<%- url_for_lang('practice/data-valid/') %>"><%= __('practice.data.0') %></a></dd>
    <dd><a href="<%- url_for_lang('practice/data-invalid/') %>"><%= __('practice.data.1') %></a></dd>
    <dd><a href="<%- url_for_lang('practice/auto-camel/') %>"><%= __('practice.data.2') %></a></dd>

    <dt><%= __('practice.tpl.title') %></dt>
    <dd><a href="<%- url_for_lang('practice/traverse-object/') %>"><%= __('practice.tpl.0') %></a></dd>
    <dd><a href="<%- url_for_lang('practice/array-deep-updates-trigger-view/') %>"><%= __('practice.tpl.1') %></a></dd>
    <dd><a href="<%- url_for_lang('practice/how-to-show-or-hide-an-element') %>"><%= __('practice.tpl.2') %></a></dd>

    <dt><%= __('practice.msg.title') %></dt>
    <dd><a href="<%- url_for_lang('practice/parent-to-child/') %>"><%= __('practice.msg.0') %></a></dd>
    <dd><a href="<%- url_for_lang('practice/child-to-parent/') %>"><%= __('practice.msg.1') %></a></dd>
    <dd><a href="<%- url_for_lang('practice/child-to-grandparent/') %>"><%= __('practice.msg.2') %></a></dd>
    <dd><a href="<%- url_for_lang('practice/dynamic-parent-child/') %>"><%= __('practice.msg.3') %></a></dd>

    <dt><%= __('practice.component.title') %></dt>
    <dd><a href="<%- url_for_lang('practice/can-we-use-dom/') %>"><%= __('practice.component.0') %></a></dd>
    <!-- <dd><a href="<%- url_for_lang('practice/position-absolute-dom/') %>"><%= __('practice.component.1') %></a></dd> -->

    <dt><%= __('practice.route.title') %></dt>
    <dd><a href="<%- url_for_lang('practice/san-router-spa/') %>"><%= __('practice.route.0') %></a></dd>

    <dt><%= __('practice.state.title') %></dt>
    <dd><a href="<%- url_for_lang('practice/san-store-spa/') %>"><%= __('practice.state.0') %></a></dd>

    <!-- <dt>DevTool</dt>

    <dt>应用状态管理</dt> -->
    <dt>FAQ</dt>
    <dd><a href="<%- url_for_lang('practice/question-and-answer/') %>"><%= __('practice.faq.0') %></a></dd>
</dl>
</main>

<script>
(function () {
    var searchEl = document.getElementById('practice-search');
    var timeout;
    searchEl.onkeyup = function () {
        if (timeout) {
            clearTimeout(timeout);
        }

        timeout = setTimeout(doSearch, 500);
    };

    function doSearch() {
        var key = searchEl.value;
        var dds = document.getElementById('practice-list').getElementsByTagName('dd');
        var len = dds.length;

        while (len--) {
            var dd = dds[len];
            dd.style.display = key && dd.getElementsByTagName('a')[0].innerHTML.indexOf(key) < 0
                ? 'none' : '';
        }
    }
})();
</script>
