<header>
    <a href="<%- url_for('') %>" class="logo-s-link"><img height="90" src="<%- url_for('img/logo.svg') %>" class="logo-s" alt="LOGO" title="San"></a>
    <b>San</b>
    <nav>
        <ul>
            <li><a href="<%- url_for('') %>">HOME</a>
            <li><a href="<%- url_for('tutorial/start/') %>">教程</a>
            <li><a href="<%- url_for('example/') %>">示例</a>
            <li><a href="<%- url_for('doc/api/') %>">API</a>
            <li><a href="https://github.com/ecomfe/san" class="github" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        </ul>
    </nav>
</header>