<header>
    <a href="<%- url_for_lang('') %>" class="logo-s-link">
        <img height="80" src="<%- url_for('img/logo.svg') %>" class="logo-s" alt="LOGO" title="San">
        </a>
    <a id="mobile-nav-toggle">
      <span class="mobile-nav-toggle-bar"></span>
      
      <span class="mobile-nav-toggle-bar"></span>
    </a>

    <div class="header-content">
        <nav class="header-content-nav">
            <ul>
                <li><a class="router" href="<%- url_for_lang('tutorial/start/') %>"><%= __('index.headernav.tutorial') %></a>
                <li><a class="router" href="<%- url_for_lang('practice/') %>"><%= __('index.headernav.practice') %></a>
                <li><a class="router" href="<%- url_for_lang('example/') %>"><%= __('index.headernav.example') %></a>
                <li><a class="router" href="<%- url_for_lang('doc/api/') %>"><%= __('index.headernav.api') %></a>
                <li><a class="router" href="https://github.com/baidu/san" class="github" target="_blank">
                    <img src="<%- url_for('img/github2.svg') %>" width="20" height="20">
                </a>
                <li>
                </li>
            </ul>
            <div class="search-input">
                <input type="text" id="san-query-input" placeholder="Search" class="search-query st-default-search-input"/>
                <svg t="1502693727354" class="icon" style="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1431" xmlns:xlink="http://www.w3.org/1999/xlink" width="200" height="200"><defs><style type="text/css"></style></defs><path d="M817.243 742.793l152.765 153.11-76.72 76.547-152.765-153.11zM685.498 258.674c-118.486-118.541-310.63-118.541-429.171 0-118.542 118.542-118.542 310.686 0 429.172 54.911 54.928 130.781 88.903 214.586 88.903 83.804 0 159.674-33.977 214.585-88.903 54.928-54.913 88.903-130.782 88.903-214.587 0-83.804-33.977-159.674-88.903-214.585zM190.258 753.915c-71.856-71.838-116.303-171.092-116.303-280.727 0-219.233 177.723-396.956 396.956-396.956s396.956 177.723 396.956 396.956c0 109.635-44.446 208.89-116.302 280.726-71.833 71.814-171.057 116.229-280.656 116.229s-208.822-44.415-280.656-116.229l0.003 0.001z" p-id="1432"></path></svg>
            </div>

            <a class="header-lang" href="<% if (page.lang === 'en') { %><%=url_for_lang(page.path.replace(page.lang + '/', ''), '')%><% } else { %><%=url_for_lang(page.path, 'en')%><% } %>"><% if (page.lang === 'en') { %>中文<% } else { %>EN<% } %></a>
        </nav>
    </div>
</header>
<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript">
    var Input = document.getElementById('san-query-input');
    var Icon = document.getElementsByClassName('icon')[0];
    docsearch({
        apiKey: '1c360e1f2503c4fa59ea3d28e3b8f6b3',
        indexName: 'san',
        inputSelector: '#san-query-input',
        debug: false // Set debug to true if you want to inspect the dropdown
    });
</script>