    <div class="footer-copyright">
        &copy; 2018 <a target="_blank" href="http://efe.baidu.com">Baidu EFE</a>
    </div>
</div>

<div class="mobile-nav-dimmer"></div>
<div class="mobile-nav">
    <ul class="mobile-nav-header">
        <li><a href="<%- url_for('') %>">HOME</a>
        <li><a href="<%- url_for('tutorial/start/') %>">教程</a>
        <li><a href="<%- url_for('example/') %>">示例</a>
        <li><a href="<%- url_for('doc/api/') %>">API</a>
        <li><a href="https://github.com/ecomfe/san" class="github" target="_blank">Github
        </a></li>
    </ul>
    <aside class="mobile-nav-recommend"><%- partial('_partial/recommend') %></aside>
</div>



