    <div class="footer-copyright">
        &copy; 2019 <a target="_blank" href="http://efe.baidu.com">Baidu EFE</a>
    </div>
</div>

<div class="mobile-nav-dimmer"></div>
<div class="mobile-nav">
    <ul class="mobile-nav-header">
        <li><a href="<%- url_for('') %>"><%= __('index.headernav.home') %></a>
        <li><a href="<%- url_for('tutorial/start/') %>"><%= __('index.headernav.tutorial') %></a>
        <li><a href="<%- url_for('practice/') %>"><%= __('index.headernav.practice') %></a>
        <li><a href="<%- url_for('example/') %>"><%= __('index.headernav.example') %></a>
        <li><a href="<%- url_for('doc/api/') %>"><%= __('index.headernav.api') %></a>
        <li><a href="https://github.com/baidu/san" class="github" target="_blank">Github
        </a></li>
    </ul>
    <aside class="mobile-nav-recommend"><%- partial('_partial/recommend') %></aside>
</div>



