<aside class="recommend">
    <dl>
        <dt>教程</dt>
        <dd><a href="<%- url_for('tutorial/setup/') %>">安装</a></dd>
        <dd><a href="<%- url_for('tutorial/start/') %>">开始</a></dd>
        <dd><a href="<%- url_for('tutorial/data-binding/') %>">数据绑定</a></dd>
        <dd><a href="<%- url_for('tutorial/data-method/') %>">数据操作</a></dd>
        <dd><a href="<%- url_for('tutorial/style/') %>">样式</a></dd>
        <dd><a href="<%- url_for('tutorial/if/') %>">分支</a></dd>
        <dd><a href="<%- url_for('tutorial/for/') %>">循环</a></dd>
        <dd><a href="<%- url_for('tutorial/event/') %>">事件处理</a></dd>
        <dd><a href="<%- url_for('tutorial/form/') %>">表单</a></dd>
        <dd><a href="<%- url_for('tutorial/component/') %>">组件</a></dd>
        <dd><a href="<%- url_for('tutorial/from-element/') %>">组件反解</a></dd>

        <dt>OTHER</dt>
        <dd><a href="#">API</a></dd>

        <dt>示例</dt>
        <dd><a href="#">AMD</a></dd>
        <dd><a href="#">ES6</a></dd>
    </dl>
</aside>