    <dl>
        <dt><%= __('recommend.tutorial') %></dt>
        <dd><a href="<%- url_for_lang('tutorial/setup/') %>"<%if(page.path.indexOf('tutorial/setup/')==0){%> class="recommend-active"<%}%>><%= __('recommend.tutorial_setup') %></a></dd>
        <dd><a href="<%- url_for_lang('tutorial/background/') %>"<%if(page.path.indexOf('tutorial/background/')==0){%> class="recommend-active"<%}%>><%= __('recommend.tutorial_background') %></a></dd>
        <dd><a href="<%- url_for_lang('tutorial/start/') %>"<%if(page.path.indexOf('tutorial/start/')==0){%> class="recommend-active"<%}%>><%= __('recommend.tutorial_start') %></a></dd>
        <dd><a href="<%- url_for_lang('tutorial/template/') %>"<%if(page.path.indexOf('tutorial/template/')==0){%> class="recommend-active"<%}%>><%= __('recommend.tutorial_template') %></a></dd>
        <dd><a href="<%- url_for_lang('tutorial/data-method/') %>"<%if(page.path.indexOf('tutorial/data-method/')==0){%> class="recommend-active"<%}%>><%= __('recommend.tutorial_data_method') %></a></dd>
        <dd><a href="<%- url_for_lang('tutorial/data-checking/') %>"<%if(page.path.indexOf('tutorial/data-checking/')==0){%> class="recommend-active"<%}%>><%= __('recommend.tutorial_data_checking') %></a></dd>
        <dd><a href="<%- url_for_lang('tutorial/style/') %>"<%if(page.path.indexOf('tutorial/style/')==0){%> class="recommend-active"<%}%>><%= __('recommend.tutorial_style') %></a></dd>
        <dd><a href="<%- url_for_lang('tutorial/if/') %>"<%if(page.path.indexOf('tutorial/if/')==0){%> class="recommend-active"<%}%>><%= __('recommend.tutorial_if') %></a></dd>
        <dd><a href="<%- url_for_lang('tutorial/for/') %>"<%if(page.path.indexOf('tutorial/for/')==0){%> class="recommend-active"<%}%>><%= __('recommend.tutorial_for') %></a></dd>
        <dd><a href="<%- url_for_lang('tutorial/event/') %>"<%if(page.path.indexOf('tutorial/event/')==0){%> class="recommend-active"<%}%>><%= __('recommend.tutorial_event') %></a></dd>
        <dd><a href="<%- url_for_lang('tutorial/form/') %>"<%if(page.path.indexOf('tutorial/form/')==0){%> class="recommend-active"<%}%>><%= __('recommend.tutorial_form') %></a></dd>
        <dd><a href="<%- url_for_lang('tutorial/slot/') %>"<%if(page.path.indexOf('tutorial/slot/')==0){%> class="recommend-active"<%}%>><%= __('recommend.tutorial_slot') %></a></dd>
        <dd><a href="<%- url_for_lang('tutorial/transition/') %>"<%if(page.path.indexOf('tutorial/transition/')==0){%> class="recommend-active"<%}%>><%= __('recommend.tutorial_transition') %></a></dd>
        <dd><a href="<%- url_for_lang('tutorial/component/') %>"<%if(page.path.indexOf('tutorial/component/')==0){%> class="recommend-active"<%}%>><%= __('recommend.tutorial_component') %></a></dd>
        <dd><a href="<%- url_for_lang('tutorial/reverse/') %>"<%if(page.path.indexOf('tutorial/reverse/')==0){%> class="recommend-active"<%}%>><%= __('recommend.tutorial_reverse') %></a></dd>
        <dd><a href="<%- url_for_lang('tutorial/ssr/') %>"<%if(page.path.indexOf('tutorial/ssr/')==0){%> class="recommend-active"<%}%>><%= __('recommend.tutorial_ssr') %></a></dd>

        <dt><%= __('recommend.component') %></dt>
        <dd><a href="<%- url_for_lang('component/hydrate/') %>"<%if(page.path.indexOf('component/define/')==0){%> class="recommend-active"<%}%>><%= __('recommend.component_define') %></a></dd>
        <dd><a href="<%- url_for_lang('component/lifecycle/') %>"<%if(page.path.indexOf('component/lifecycle/')==0){%> class="recommend-active"<%}%>><%= __('recommend.component_lifecycle') %></a></dd>
        <dd><a href="<%- url_for_lang('component/view/') %>"<%if(page.path.indexOf('component/view/')==0){%> class="recommend-active"<%}%>><%= __('recommend.component_view') %></a></dd>
        <dd><a href="<%- url_for_lang('component/data/') %>"<%if(page.path.indexOf('component/data/')==0){%> class="recommend-active"<%}%>><%= __('recommend.component_data') %></a></dd>
        <dd><a href="<%- url_for_lang('component/tree/') %>"<%if(page.path.indexOf('component/tree/')==0){%> class="recommend-active"<%}%>><%= __('recommend.component_tree') %></a></dd>
        <dd><a href="<%- url_for_lang('component/template-component/') %>"<%if(page.path.indexOf('component/template-component/')==0){%> class="recommend-active"<%}%>><%= __('recommend.component_template_component') %></a></dd>
        <dd><a href="<%- url_for_lang('component/define/') %>"<%if(page.path.indexOf('component/async/')==0){%> class="recommend-active"<%}%>><%= __('recommend.component_async') %></a></dd>
        <dd><a href="<%- url_for_lang('component/async/') %>"<%if(page.path.indexOf('component/hydrate/')==0){%> class="recommend-active"<%}%>><%= __('recommend.component_hydrate') %></a></dd>
        <dd><a href="<%- url_for_lang('component/error/') %>"<%if(page.path.indexOf('component/error/')==0){%> class="recommend-active"<%}%>><%= __('recommend.component_error') %></a></dd>

        <dt><%= __('recommend.api') %></dt>
        <dd><a href="<%- url_for_lang('doc/api/') %>"<%if(page.path.indexOf('doc/api/')==0){%> class="recommend-active"<%}%>><%= __('recommend.component_api') %></a></dd>
        <dd><a href="<%- url_for_lang('doc/main-members/') %>"<%if(page.path.indexOf('doc/main-members/')==0){%> class="recommend-active"<%}%>><%= __('recommend.main_api') %></a></dd>

        <dt><%= __('recommend.more') %></dt>
        <dd><a href="https://github.com/baidu/san/blob/master/doc/anode.md" target="_blank"><%= __('recommend.more_anode_doc') %></a></dd>
        <dd><a href="https://github.com/baidu/san/blob/master/doc/anode-pack.md" target="_blank"><%= __('recommend.more_apack_doc') %></a></dd>
        <dd><a href="https://github.com/baidu/san/tree/master/dist" target="_blank"><%= __('recommend.more_dist_files') %></a></dd>
        <dd><a href="https://github.com/baidu/san/blob/master/CHANGELOG.md" target="_blank"><%= __('recommend.more_changelog') %></a></dd>

        <dt><%= __('recommend.facilities') %></dt>
        <dd><a href="https://github.com/baidu/san-devtools" target="_blank">san-devtools</a></dd>
        <dd><a href="https://ecomfe.github.io/santd/" target="_blank">santd</a></dd>
        <dd><a href="https://github.com/baidu/san-router" target="_blank">san-router</a></dd>
        <dd><a href="https://github.com/baidu/san-store" target="_blank">san-store</a></dd>
        <dd><a href="https://github.com/baidu/san-update" target="_blank">san-update</a></dd>
        <dd><a href="https://baidu.github.io/san-ssr/" target="_blank">san-ssr</a></dd>
        <dd><a href="https://github.com/ecomfe/san-cli" target="_blank">san-cli</a></dd>
        <dd><a href="https://github.com/ecomfe/san-loader" target="_blank">san-loader</a></dd>
        <dd><a href="https://github.com/baidu/san-factory" target="_blank">san-factory</a></dd>
        <dd><a href="https://github.com/searchfe/sanny" target="_blank">sanny</a></dd>
        <dd><a href="https://ecomfe.github.io/san-mui/" target="_blank">san-mui</a></dd>
        <dd><a href="https://github.com/ecomfe/san-anode-utils" target="_blank">san-anode-utils</a></dd>
        <dd><a href="https://github.com/ecomfe/san-test-utils" target="_blank">san-test-utils</a></dd>
        <dd><a href="https://github.com/baidu/san-composition" target="_blank">san-composition</a></dd>

        <dt><%= __('recommend.example') %></dt>
        <dd><a href="https://github.com/baidu/san/tree/master/example/start" target="_blank"><%= __('recommend.example_start') %></a></dd>
        <dd><a href="https://github.com/baidu/san/tree/master/example/todos-amd" target="_blank">Todos (AMD)</a></dd>
        <dd><a href="https://github.com/baidu/san/tree/master/example/todos-esnext" target="_blank">Todos (ESNext)</a></dd>
        <dd><a href="https://github.com/baidu/san-store/tree/master/example/todos" target="_blank">Todos (<%= __('recommend.example_single_way_flow') %>)</a></dd>
    </dl>
