<aside class="recommend">
    <dl>
        <dt>教程</dt>
        <dd><a href="<%- url_for('tutorial/setup/') %>">安装</a></dd>
        <dd><a href="<%- url_for('tutorial/start/') %>">开始</a></dd>
        <dd><a href="<%- url_for('tutorial/data-binding/') %>">数据绑定</a></dd>
        <dd><a href="<%- url_for('tutorial/data-method/') %>">数据操作</a></dd>
        <dd><a href="<%- url_for('tutorial/style/') %>">样式</a></dd>
        <dd><a href="<%- url_for('tutorial/if/') %>">分支</a></dd>
        <dd><a href="<%- url_for('tutorial/for/') %>">循环</a></dd>
        <dd><a href="<%- url_for('tutorial/event/') %>">事件处理</a></dd>
        <dd><a href="<%- url_for('tutorial/form/') %>">表单</a></dd>
        <dd><a href="<%- url_for('tutorial/component/') %>">组件</a></dd>
        <dd><a href="<%- url_for('tutorial/from-element/') %>">组件反解</a></dd>

        <dt>OTHER</dt>
        <dd><a href="<%- url_for('doc/api/') %>">API</a></dd>

        <dt>示例</dt>
        <dd><a href="https://github.com/ecomfe/san/tree/master/example/start" target="_blank">一些小示例</a></dd>
        <dd><a href="https://github.com/ecomfe/san/tree/master/example/todos-amd" target="_blank">Todos (AMD)</a></dd>
        <dd><a target="_blank">Todos (ES6) - coming soon</a></dd>
    </dl>
</aside>